OPENAI_API_KEY=<my-openai-key>
OPENAI_MODEL=gpt-4o-mini

JUDGE_MODEL=llama3.2:latest # Use a more powerful model for the judge to ensure better evaluation quality
JUDGE_API_KEY=<my-judge-api-key>
HF_TOKEN=<my-hf-token>

OLLAMA_MODEL=qwen2.5:1.5b
OLLAMA_BASE_URL=http://host.docker.internal:11434

IMPRIMER_GATEWAY_URL=http://localhost:8090
HF_TOKEN=<my-hf-token>
EMBEDDER_MODEL=all-MiniLM-L6-v2